<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}">
    <title>Personas</title>
</head>
<body>
    <h1>Administració</h1>
    <div class="button-container">
        <a href="{{ url_for('get_forms', accion='add', tipo=tipo) }}" class="anadir-verde">Afegir</a>
        <a href="{{ url_for('get_personas_admin', tipo='personas') }}" class="botones-azules">Persones</a>
        <a href="{{ url_for('get_personas_admin', tipo='equipos') }}" class="botones-azules">Equips</a>
        <a href="{{ url_for('get_personas_admin', tipo='partidos') }}" class="botones-azules">Partits</a>
        <a href="{{ url_for('get_personas_admin', tipo='videos') }}" class="botones-azules">Vídeos</a> 
    </div>
    
    <ul>
        {% if tipo == "personas" %}
        <h2>Persones</h2>
            {% for persona in personas %}
                <li>
                    <p>
                        {{persona.id}}. {{persona.name}} {{persona.surname}} - {% if persona.is_trainer %}Entrenador{% else %}Jugador{% endif %}
                    </p>
                    <a href="{{ url_for('editar_persona', id=persona.id) }}"><button type="edit">Editar</button></a>
                    <form action="{{ url_for('borrar_persona', id=persona.id) }}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                    <br>
                </li>
            {% endfor %}

        {% elif tipo == "equipos" %}
        <h2>Equips</h2>
            {% for equipo in equipos %}
                <li>
                    <p>
                        {{equipo.id}}. {{equipo.name}} ({{equipo.abbreviation}})
                    </p>
                    <a href="{{ url_for('editar_equipo', id=equipo.id) }}"><button type="edit">Editar</button></a>
                    <form action="{{ url_for('borrar_equipo', id=equipo.id) }}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                    <br>
                </li>
            {% endfor %}

        {% elif tipo == "partidos" %}
        <h2>Partits</h2>
            {% for partido in partidos %}
            <li>
                <p>
                    {{partido.id}}. {{partido.name}} ({{partido.local_team.abbreviation}} - {{partido.visitor_team.abbreviation}}) - {{partido.date}}
                </p>
                <a href="{{ url_for('editar_partido', id=partido.id) }}"><button type="edit">Editar</button></a>
                <form action="{{ url_for('borrar_partido', id=partido.id) }}" method="post" style="display:inline">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
            {% endfor %}
        
        {% elif tipo == "videos" %}
        <h2>Vídeos</h2>
            {% for video in videos %}
                <li>
                    <p>
                        {{video.id}}. {{video.url}}
                    </p>
                    <a href="{{ url_for('editar_video', id=video.id) }}"><button type="edit">Editar</button></a>
                    <form action="{{ url_for('borrar_video', id=video.id) }}" method="post" style="display:inline">
                        <button type="submit">Eliminar</button>
                    </form>
                </li>
            {% endfor %}
        

        {% endif %}

        
    </ul>
</body>
</html>
