<form method="POST">
  <h2>Carrito de compras</h2>

  {% for producto in productos_en_carrito %}
  <div class="producto">
    <h3>{{ producto.name }}</h3>
    <p>Precio: ${{ producto.price }}</p>
    <label for="cantidad_{{ producto.id }}">Cantidad:</label>
    <input
      type="number"
      id="cantidad_{{ producto.id }}"
      name="cantidad_{{ producto.id }}"
      value="{{ producto.cantidad }}"
      min="1"
    />
    <button type="submit" name="actualizar" value="{{ producto.id }}">
      Actualizar cantidad
    </button>
    <button type="submit" name="eliminar" value="{{ producto.id }}">
      Eliminar
    </button>
    <!-- Botón para eliminar producto -->
  </div>
  {% endfor %}

  <button type="submit" name="checkout">Checkout</button>
</form>

{% if precio_total is not none %}
<h3>Total a pagar: ${{ precio_total }}</h3>
{% endif %}
