{% extends "components/base.html" %}

{% block title %}Tenda - RCD Mallorca{% endblock %}

{% include "components/navbar.html" %}

{% block content %}
<div class="coleccions">
    <div class="coleccions-header">
        <h1>Les nostres col·leccions</h1>
        <p>Descobreix les nostres col·leccions oficials</p>
    </div>

    <div class="coleccions-wrapper">
        <div class="coleccions-item">
            <h2>Equipacions</h2>
            <div class="coleccions-item-image">
                <img src="../../static/img/tienda/equipacions.webp" alt="Equipacions">
            </div>
        </div>

        <div class="coleccions-item">
            <h2>Entrenament</h2>
            <div class="coleccions-item-image">
                <img src="../../static/img/tienda/entrenaments.webp" alt="Equipacions">
            </div>
        </div>

        <div class="coleccions-item">
            <h2>Infantil</h2>
            <div class="coleccions-item-image">
                <img src="../../static/img/tienda/nins.webp" alt="Equipacions">
            </div>
        </div>
        
        <div class="coleccions-item">
            <h2>Tots els productes</h2>
            <div class="coleccions-item-image">
                <img src="../../static/img/tienda/tots-productes.webp" alt="Equipacions">
            </div>
        </div>
    </div>
</div>

<div class="promos">
    <div class="promos-wrapper">
        <h1>En promoció</h1>
        {% for producto in productos if is_promo %}
        {% endfor %}
    </div>
</div>

<div class="tendes-oficials"></div>

<div class="newsletter">
    <div class="newsletter-wrapper">
        <h1>Subscriu-te a la nostra newsletter</h1>
        <p>Rebràs les últimes novetats i ofertes exclusives</p>
        <form action="" method="POST">
            <input type="email" name="email" placeholder="Correu electrònic" required>
            <button type="submit">Subscriure's</button>
        </form>
    </div>
</div>


{% endblock %}