<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Tienda</h1>
    <p>Aquí va la tienda, cuando funcione</p>

    <form method="POST" action="{{ url_for('mostrar_inicio') }}">
      <input type="mail" name="mail" placeholder="Email" required />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required
      />
      <button type="submit">Iniciar sesión</button>
    </form>

    <a href="{{ url_for('add_user') }}"><button>Registrarse</button></a>
    <a href="{{ url_for('get_productos_admin') }}"
      ><button>PANEL ADMIN</button></a
    >

    {% for producto in productos %}
    <li>
      {{producto.id}}. {{producto.name}} {{producto.desc}} - {{producto.price}}€
      {% if user_login %}
      <form
        method="POST"
        action="{{ url_for('añadir_al_carrito', producto_id=producto.id) }}"
      >
        <button type="submit">Añadir al carrito</button>
      </form>
      {% endif %}
    </li>
    <br />
    {% endfor %} {% if user_login %}
    <a href="{{ url_for('ver_carrito') }}"><button>VER CARRITO</button></a>

    {% endif %}
  </body>
</html>
