{% extends "components/base.html" %}

{% block title %}{{persona.display_name}} - RCD Mallorca{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById('menu-toggle');
    const navbarMenu = document.getElementById('navbar-menu');

    menuToggle.addEventListener('click', () => {
        navbarMenu.classList.toggle('active');

        if (navbarMenu.classList.contains('active')) {
            menuToggle.classList.remove('fa-bars');
            menuToggle.classList.add('fa-times');
        } else {
            menuToggle.classList.remove('fa-times');
            menuToggle.classList.add('fa-bars');
        }
    });
    });
</script>
{% endblock %}

{% block styles %}
<style>
body {
  height: 100%;
  min-height: 100%;
  background-color: #F7F9F9;
}
</style>
{% endblock %}

{% block content %}

<div class="player">
  <div class="player-container">
    <div class="player-wrapper">
      <div class="player-data">
        <h1 class="player-number">{{persona.number}}</h1>
        <h1 class="player-display">{{persona.display_name}}</h1>
        <h3>{{persona.name}} {{persona.surname}}</h3>
        <h4 class="player-position">{{persona.position}}</h4>
        <div class="player-miscellaneous">
  
          {% if persona.dob %}
          <div class="miscellaneous-data">
            <h4>Data de naixement</h4>
            <p>{{persona.dob}}</p>
          </div>
          {% endif %}
  
          {% if persona.birthplace %}
          <div class="miscellaneous-data">
            <h4>Lloc de naixement</h4>
            <p>{{persona.birthplace}}</p>
          </div>
          {% endif %}
  
          {% if persona.nationality %}	
          <div class="miscellaneous-data">
            <h4>Nacionalitat</h4>
            <p>{{persona.nationality}}</p>
          </div>
          {% endif %}
  
          {% if persona.dominant_leg %}
          <div class="miscellaneous-data">
            <h4>Cama dominant</h4>
            <p>{{persona.dominant_leg}}</p>
          </div>
          {% endif %}

          {% if persona.is_international %}
          <div class="miscellaneous-data">
            <h4>És interacional?</h4>
            <p>Sí</p>
          </div>
          {% endif %}
        </div>
      </div>
  
      <div class="player-image">
        <img src="../static/img/players/page/{{ persona.number }}.jpg" alt="{{persona.display_name}}" class="player-img">
      </div>
    </div>
  </div>
    
</div>
{% endblock %}