{% extends "components/base.html" %}

{% block title %}Plantilla - RCD Mallorca{% endblock %}

{% block styles %}
<style>
    body {
        height: 100%;
        min-height: 100%;
        background-color: #F7F9F9;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById('menu-toggle');
    const navbarMenu = document.getElementById('navbar-menu');

    menuToggle.addEventListener('click', () => {
        navbarMenu.classList.toggle('active');

        if (navbarMenu.classList.contains('active')) {
            menuToggle.classList.remove('fa-bars');
            menuToggle.classList.add('fa-times');
        } else {
            menuToggle.classList.remove('fa-times');
            menuToggle.classList.add('fa-bars');
        }
    });
    });
</script>
{% endblock %}

{% block content %}
<div class="contenedor-plantilla-v2">
    <h1>Porters</h1>
    <ul>
        {% for persona in personas %}
            {% if not persona.is_trainer and persona.position == "Porter" %}
                    <li>
                        <div class="contenedor-imagen">
                            <div class="numero-jugador">
                                <p>{{ persona.number }}</p>
                            </div>
                            <img src="../static/img/players/card/{{ persona.number }}.jpg" alt="">
                        </div>
                        <div class="contenedor-datos">
                            <h2>{{ persona.display_name }}</h2>
                            <h3>{{ persona.position }}</h3>
                            <a href="{{ url_for('get_persona_by_id', id = persona.id) }}"><button>VEURE FITXA<i class="fa-solid fa-arrow-right"></i></button></a>
                        </div>
                    </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h1>Defenses</h1>
    <ul>
        {% for persona in personas %}
            {% if not persona.is_trainer and persona.position == "Defensa" %}
                    <li>
                        <div class="contenedor-imagen">
                            <div class="numero-jugador">
                                <p>{{ persona.number }}</p>
                            </div>
                            <img src="../static/img/players/card/{{ persona.number }}.jpg" alt="">
                        </div>
                        <div class="contenedor-datos">
                            <h2>{{ persona.display_name }}</h2>
                            <h3>{{ persona.position }}</h3>
                            <a href="{{ url_for('get_persona_by_id', id = persona.id) }}"><button>VEURE FITXA<i class="fa-solid fa-arrow-right"></i></button></a>
                        </div>
                    </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h1>Migcampistes</h1>
    <ul>
        {% for persona in personas %}
            {% if not persona.is_trainer and persona.position == "Migcampista" %}
                    <li>
                        <div class="contenedor-imagen">
                            <div class="numero-jugador">
                                <p>{{ persona.number }}</p>
                            </div>
                            <img src="../static/img/players/card/{{ persona.number }}.jpg" alt="">
                        </div>
                        <div class="contenedor-datos">
                            <h2>{{ persona.display_name }}</h2>
                            <h3>{{ persona.position }}</h3>
                            <a href="{{ url_for('get_persona_by_id', id = persona.id) }}"><button>VEURE FITXA<i class="fa-solid fa-arrow-right"></i></button></a>
                        </div>
                    </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h1>Davanters</h1>
    <ul>
        {% for persona in personas %}
            {% if not persona.is_trainer and persona.position == "Davanter" %}
                    <li>
                        <div class="contenedor-imagen">
                            <div class="numero-jugador">
                                <p>{{ persona.number }}</p>
                            </div>
                            <img src="../static/img/players/card/{{ persona.number }}.jpg" alt="">
                        </div>
                        <div class="contenedor-datos">
                            <h2>{{ persona.display_name }}</h2>
                            <h3>{{ persona.position }}</h3>
                            <a href="{{ url_for('get_persona_by_id', id = persona.id) }}"><button>VEURE FITXA<i class="fa-solid fa-arrow-right"></i></button></a>
                        </div>
                    </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>

{% endblock %}