<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar equipo</title>
</head>
<body>
    <h1>Editar equipo</h1>
    <form action="{{url_for('editar_equipo', id=equipo.id)}}" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="{{equipo.name}}" required>
        <label for="abbreviation">Abreviación:</label>
        <input type="text" id="abbreviation" name="abbreviation" value="{{equipo.abbreviation}}" required>

        <button type="submit">Actualizar</button>
    </form>
</body>
</html>