<form action="{{ url_for('add_producto') }}" method="post">
  <h1><i class="fa-solid fa-people-group"></i> Añadir producto</h1>
  <div class="fila">
    <div class="elemento">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" required />
    </div>

    <div class="elemento">
      <label for="desc">Descripción</label>
      <input type="text" id="desc" name="desc" required />
    </div>

    <div class="elemento">
      <label for="price">Precio</label>
      <input type="integer" id="price" name="price" required />
    </div>
  </div>

  <button type="submit">Añadir</button>
</form>
