<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Persona</title>
</head>
<body>
    <a href="{{ url_for('get_personas') }}">Atrás</a>
    <h1>AGREGAR PERSONA</h1>

    <form action="{{ url_for('add_persona') }}" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <label for="surname">Apellido:</label>
        <input type="text" id="surname" name="surname" required>

        <label for="age">Edad:</label>
        <input type="text" id="age" name="age" required>

        <label for="is_trainer">¿Es entrenador?:</label>
        <input type="checkbox" id="is_trainer" name="is_trainer">

        <button type="submit">Agregar Persona</button>
    </form>
</body>
</html>
