<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/main/favicon.png') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c3c63f74a9.js" crossorigin="anonymous"></script>
    <title>{% block title %}RCD Mallorca{% endblock %}</title>
</head>
{% block scripts %}{% endblock %}
<body>
<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© 2024 RCD Mallorca - Tots els drets reservats.</p>
</footer>
</body>
</html>