<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar persona</title>
</head>
<body>
    <h1>Editar persona</h1>
    <form action="{{url_for('editar_persona', id=persona.id)}}" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="{{persona.name}}" required>
        <label for="surname">Apellido:</label>
        <input type="text" id="surname" name="surname" value="{{persona.surname}}" required>
        <label for="age">Edad:</label>
        <input type="number" id="age" name="age" value="{{persona.age}}" required>
        <label for="is_trainer">¿Es entrenador?</label>
        <input type="checkbox" id="is_trainer" name="is_trainer" value="True" {{'checked' if persona.is_trainer else 'unchecked'}}>
        <br><br>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>