{% extends "components/base.html" %}

{% block title %}Inici - RCD Mallorca{% endblock %}

{% block scripts %}
<script>
    // Carousel plantilla
    document.addEventListener("DOMContentLoaded", function () {
        const carousel = document.querySelector(".carousel ul");
        const prevBtn = document.querySelector(".jugador-previo");
        const nextBtn = document.querySelector(".jugador-siguiente");
        const cardWidth = 300 + 30;
        let scrollAmount = 0;

        prevBtn.addEventListener("click", function () {
            if (scrollAmount > 0) {
                scrollAmount -= cardWidth;
                carousel.style.transform = `translateX(-${scrollAmount}px)`;
            }
        });

        nextBtn.addEventListener("click", function () {
            if (scrollAmount < carousel.scrollWidth - carousel.parentElement.clientWidth) {
                scrollAmount += cardWidth;
                carousel.style.transform = `translateX(-${scrollAmount}px)`;
            }
        });
    });

    const slides = document.querySelectorAll('.carousel-slide');
    let currentIndex = 0;

    function nextSlide() {
        slides[currentIndex].classList.remove('active');
        currentIndex = (currentIndex + 1) % slides.length;
        slides[currentIndex].classList.add('active');
    }

    setInterval(nextSlide, 3000);
</script>

<script>
    // Volver arriba
    document.addEventListener("DOMContentLoaded", function () {
    const backToTopButton = document.getElementById("backToTop");

    window.addEventListener("scroll", function () {
        if (window.scrollY > 300) { // Mostrar el botón después de 300px de scroll
            backToTopButton.style.opacity = "1";
            backToTopButton.style.visibility = "visible";
        } else {
            backToTopButton.style.opacity = "0";
            backToTopButton.style.visibility = "hidden";
        }
    });

    backToTopButton.addEventListener("click", function () {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById('menu-toggle');
    const navbarMenu = document.getElementById('navbar-menu');
    const navbarLinks = document.querySelectorAll('.navbar-menu a');

    menuToggle.addEventListener('click', () => {
        navbarMenu.classList.toggle('active');
    });

    navbarLinks.forEach(link => {
        link.addEventListener('click', () => {
            navbarMenu.classList.remove('active');
        });
    });
});
</script>

<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
{% endblock %}

{% block content %}
    <header>
        <button id="backToTop" class="back-to-top">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
    </header>

    <div class="cap">
        <div class="titular">
            <div class="titular-text">
                <h1>Cap amunt, sempre amunt!</h1>
            </div>
            <div class="titular-link">
                <a href="#"><p>Llegir més <i class="fa-solid fa-arrow-right"></i></p></a>
            </div>
        </div>
    </div>

    <main>
        <div id="partits" class="partidos">
            <div class="contenedor-partidos">
                <h1>Pròxims partits</h1>
                <div class="partidos">
                    <ul>
                        {% for partido in partidos %}
                        <li>
                            <div class="partido">
                                <h2>{{ partido.name }}</h2>
                                <p class="ubicacion">{{ partido.location }}</p>
                                <div class="partido-datos">
                                    <div class="equipo">
                                        <img src="../static/img/teams//{{ partido.local_team.abbreviation }}.png" alt="">
                                        <p>{{ partido.local_team.abbreviation }}</p>
                                    </div>
                                    <div class="tiempo">
                                        <p class="fecha">{{ partido.date.strftime("%d/%m/%Y") }}</p>
                                        <p class="hora">{{ partido.time }}</p>
                                    </div>
                                    <div class="equipo">
                                        <img src="../static/img/teams//{{ partido.visitor_team.abbreviation }}.png" alt="">
                                        <p>{{ partido.visitor_team.abbreviation }}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="laliga-holder">
                    <div class="banner-laliga">
                        <a href="https://www.laliga.com"><img src="../static/img/index/laliga.png"></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="plantilla" class="plantilla">
            <div class="botones">
                <button class="jugador-previo"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="jugador-siguiente"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="contenedor-plantilla">
                <h1>La nostra plantilla</h1>
                <div class="carousel">
                    <ul>
                        {% for persona in personas %}
                        <li>
                            <div class="contenedor-imagen">
                                <div class="numero-jugador">
                                    <p>{{ persona.number }}</p>
                                </div>
                                <img src="../static/img/players/card/{{ persona.number }}.jpg" alt="">
                            </div>
                            <div class="contenedor-datos">
                                <h2>{{ persona.display_name }}</h2>
                                <h3>{{ persona.position }}</h3>
                                <a href="{{ url_for('get_persona_by_id', id = persona.id) }}"><button>VEURE FITXA<i class="fa-solid fa-arrow-right"></i></button></a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="carousel-link">
                    <a href="/plantilla">Veure tota la plantilla <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div id="videos" class="videos">
            <div class="contenedor-videos">
                <h1>RCD Mallorca TV</h1>
                <div class="videos-wrapper">
                    <div class="video-principal">
                        <lite-youtube videoid="{{ videos[0].identificador }}"></lite-youtube>
                    </div>
                </div>
                <div class="videos-pequeños">
                    <div class="video-pequeño">
                        <lite-youtube videoid="{{ videos[1].identificador }}"></lite-youtube>
                    </div>

                    <div class="video-pequeño">
                        <lite-youtube videoid="{{ videos[2].identificador }}"></lite-youtube>
                    </div>

                    <div class="video-pequeño">
                        <lite-youtube videoid="{{ videos[3].identificador }}"></lite-youtube>
                    </div>
                </div>
            </div>
        </div>

        <div id="patrocinadors" class="patrocinadores">
            <div class="contenedor-patrocinadores">
                <h2>Moltes gràcies als nostres patrocinadors!</h2>
                <div class="logos">
                    <div class="logos-slide">
                        {% for arxiu in sponsors %}
                        <img src="../static/img/sponsors/{{ arxiu }}">
                        {% endfor %}
                    </div>

                    <div class="logos-slide">
                        {% for arxiu in sponsors %}
                        <img src="../static/img/sponsors/{{ arxiu }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}