{% extends "base.html" %}

{% block title %}Inici - RCD Mallorca{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const carousel = document.querySelector(".carousel ul");
        const prevBtn = document.querySelector(".jugador-previo");
        const nextBtn = document.querySelector(".jugador-siguiente");
        const cardWidth = 300 + 30; // Asegúrate de que coincide con el CSS
        let scrollAmount = 0;

        // Mover hacia la izquierda
        prevBtn.addEventListener("click", function () {
            if (scrollAmount > 0) {
                scrollAmount -= cardWidth;
                carousel.style.transform = `translateX(-${scrollAmount}px)`;
            }
        });

        // Mover hacia la derecha
        nextBtn.addEventListener("click", function () {
            if (scrollAmount < carousel.scrollWidth - carousel.parentElement.clientWidth) {
                scrollAmount += cardWidth;
                carousel.style.transform = `translateX(-${scrollAmount}px)`;
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<header>
    {% include "navbar.html" %}
    <div class="titular">
        <div class="titular-text">
            <h1>Tornam a ser de primera!</h1>
        </div>
        <div class="titular-link">
            <a href="#"><p>Llegir més <i class="fa-solid fa-arrow-right"></i></p></a>
        </div>
    </div>
</header>
<main>
    <div id="partits" class="partidos">
        <div class="contenedor-partidos">
            <h1>Pròxims partits</h1>
            <div class="partidos">
                <ul>
                    {% for partido in partidos %}
                    <li>
                        <div class="partido">
                            <h2>{{ partido.name }}</h2>
                            <p class="ubicacion">{{ partido.location }}</p>
                            <div class="partido-datos">
                                <div class="equipo">
                                    <img src="../static/img/teams//{{ partido.local_team.abbreviation }}.png" alt="">
                                    <p>{{ partido.local_team.abbreviation }}</p>
                                </div>
                                <div class="tiempo">
                                    <p class="fecha">{{ partido.date.strftime("%d/%m/%Y") }}</p>
                                    <p class="hora">{{ partido.time }}</p>
                                </div>
                                <div class="equipo">
                                    <img src="../static/img/teams//{{ partido.visitor_team.abbreviation }}.png" alt="">
                                    <p>{{ partido.visitor_team.abbreviation }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="plantilla" class="plantilla">
        <div class="botones">
            <button class="jugador-previo"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="jugador-siguiente"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="contenedor-plantilla">
            <h1>La nostra plantilla</h1>
            <div class="carousel">
                <ul>
                    {% for persona in personas if not is_trainer %}
                    <li>
                        <div class="contenedor-imagen">
                            <div class="numero-jugador">
                                <p>{{ persona.number }}</p>
                            </div>
                            <img src="../static/img/players/card/{{ persona.number }}.jpg" alt="">
                        </div>
                        <div class="contenedor-datos">
                            <h2>{{ persona.display_name }}</h2>
                            <h3>{{ persona.position }}</h3>
                            <a href="#"><button>VEURE FITXA<i class="fa-solid fa-arrow-right"></i></button></a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="videos">
        <div class="contenedor-videos">
            <h1>RCD Mallorca TV</h1>
        </div>
    </div>
</main>
{% endblock %}