<div class="contenedor-nav">
    <nav class="auxiliar">
        <ul>
            <li><a href="#">TENDA</a></li>
            <li><a href="#">SON MOIX</a></li>
            <li><a href="#">ENTRADES</a></li>
            <li><a href="#">ABONATS</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </nav>
    <nav class="primaria">
        <div class="contenedor-logo">
            <a href="#"><img src="../static/img/main/logo.png" alt=""></a>
        </div>
        <ul>
            <li><a href="/">Inici</a></li>
            <li><a href="#partits">Partits</a></li>
            <li><a href="#plantilla">Plantilla</a></li>
            <li><a href="#">RCD Mallorca TV</a></li>
            <li><a href="#">Patrocinadors</a></li>
        </ul>
        <a href="/login">
            <button class="boton-login"><i class="fa-solid fa-user"></i></button>
        </a>
    </nav>
</div>