@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 16px;
    font-family: 'Inter Tight', sans-serif;
}

body {
    background-color: #f4f4f9;
    padding: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

li a {
    margin-right: 10px;
}

form {
    display: block;
}

button[type="edit"] {
    background: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 10px;
}

button[type="edit"]:hover {
    background: #1A237E;
}

button[type="submit"] {
    background: #e12323;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background: #c61111;
}

a.botones-azules {
    text-decoration: none;
    color: #fff;
    background-color: #2196F3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.botones-azules:hover {
    background-color: #1A237E;
}

a.anadir-verde {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.anadir-verde:hover {
    background-color: #3e8e41;
}

.button-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}