@import "files/fonts/fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'RM Neue', Helvetica, sans-serif;
}

/* -- (1) Navbar -- */
.contenedor-nav {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

/* -- (1.1) Navbar auxiliar -- */
.auxiliar {
    background: #e12323;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
}

.auxiliar ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
}

.auxiliar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.auxiliar a:hover {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: underline;
    transition: 0.3s;
}

/* -- (1.2) Navbar primaria -- */
.primaria {
    background: white;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;

}

.primaria img {
    width: auto;
    height: 80px;
}

.primaria ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.primaria a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.primaria a:hover {
    color: rgba(26, 26, 26, 0.85);
    text-decoration: underline;
}

.contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e12323;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.boton-login {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #e12323;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.boton-login:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    transition: 0.3s;
}

/* -- (2) Header -- */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url('../img/index/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 20px 0;
}

/* -- (2.1) Titular header -- */
.titular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* -- (2.1.1) Titular header - Texto -- */
.titular-text {
    color: white;
    font-size: 36px;
}

/* -- (2.1.2) Titular header - Enlace -- */
.titular-link i {
    margin-left: 5px;
}

.titular-link a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.titular-link a:hover {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: underline;
}

/* -- (3) Nuestra plantilla -- */
.plantilla {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/index/sonmoix.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-plantilla {
    width: 90%;
    margin: 30px 0 30px 0;
}

.contenedor-plantilla h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 42px;
}

.botones {
    width: 93%;
    height: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.contenedor-plantilla ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    transition: transform 1s ease-in-out;
    padding: 0;
}

.contenedor-plantilla li {
    width: calc((100% - 90px) / 4);
    background: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.contenedor-imagen {
    position: relative;
    width: 300px;
    height: auto;
}

.contenedor-imagen img {
    display: block;
    width: 300px;
    height: 400px;
    object-fit: cover;   /* Recorta la imagen para llenar el contenedor */
    object-position: top; /* Asegura que el recorte comience desde arriba */
    border-radius: 10px;
}

.jugador-previo, .jugador-siguiente {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #e12323;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    z-index: 1;
}

.jugador-previo:hover, .jugador-siguiente:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    transition: 0.3s;
}

.numero-jugador {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e12323;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.numero-jugador p {
    font-size: 22px;
    color: white;
    font-weight: 900;
}

.contenedor-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.contenedor-datos h2 {
    font-size: 30px;
    font-weight: 800;
}

.contenedor-datos h3 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.contenedor-datos button {
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border: 2px solid #e12323;
    background: white;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.contenedor-datos button:hover {
    cursor: pointer;
    border: 2px solid #e12323;
    background: #e12323;
    color: white;
    transition: 0.3s;
}

.contenedor-datos button i {
    margin-left: 5px;
}


/* -- Futuros partidos -- */
.partidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0 30px 0;
}

.contenedor-partidos {
    width: 90%;
    margin: 0 auto;
}

.contenedor-partidos h1 {
    color: black;
    margin-bottom: 20px;
    font-size: 42px;
}

.partidos ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
}

.partidos ul li {
    display: flex;
    flex-direction: row;
    background: rgb(247, 249, 249);
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
    list-style: none;
    box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.55);
    cursor: pointer;
}


/* EQUIPO */
.equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipo img {
    width: 60px;
    height: auto;
}

.equipo p {
    font-size: 18px;
    font-weight: bold;
}

.partido-datos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.ubicacion {
    margin-bottom: 10px;
    text-align: center;
}

.tiempo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fecha {
    font-size: 18px;
    font-weight: 600;
}

.hora {
    font-size: 22px;
    font-weight: 700;
}

/* VIDEOS */
.contenedor-videos {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* VIDEO PRINCIPAL */
.video-principal {
    width: 100%;
    height: 56%;
}

/* VIDEOS PEQUEÑOS */
.videos-pequeños {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.videos-pequeños iframe {
    flex: 1;
    height: 150px;
    margin: 0 5px;
}

/* ESTILO GLOBAL PARA IFRAME */
iframe {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

iframe:hover {
    transform: scale(1.02);
}


/* FOOTER */
footer {
    width: 100%;
    background: linear-gradient(to right, #e12323, #e12323 10%, #999999); /* degradado de rojo a gris */
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

footer p{
    color: black;
    font-size: 16px;
    font-weight: 800;
    margin-left: 20px;
}

.footer-link {
    display: flex;
    gap: 30px;
}

.footer-link a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}


footer img{
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.contenedor-patrocinadores {
    width: 90%;
    margin: 0 auto;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scrollSponsors 30s linear infinite;
    justify-content: center;
    align-items: center;
}

.carousel-sponsors:hover .carousel-track {
    animation-play-state: paused;
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 30px;
}

.carousel-item img {
    width: auto;
    height: 50px;
    object-fit: contain;
    opacity: 75%;
    transition: 0.3s;
}

.carousel-item img:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.3s;
}

@keyframes scrollSponsors {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}