<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/main/favicon.png') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c3c63f74a9.js" crossorigin="anonymous"></script>
    <title>{% block title %}RCD Mallorca{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
{% block scripts %}{% endblock %}

<body>
    {% block navbar %}
        {% if pagina == 'store' %}
        <div class="contenedor-nav">
            <nav class="auxiliar">
                <ul>
                    <li><a href="/">TORNAR A LA PÀGINA PRINCIPAL</a></li>
                </ul>
                {% if session.user_login %}
                <ul>
                    <li><a href="/logout">TANCAR SESSIÓ</a></li>
                </ul>
                {% endif %}
                {% if not session.user_login %}
                <ul>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTRE</a></li>
                </ul>
                {% endif %}
            </nav>
            <nav class="primaria">
                <div class="contenedor-logo">
                    <a href="/"><img src="/static/img/main/logo.png" alt=""></a>
                </div>
                <ul>
                    <li><a href="/tenda">Inici</a></li>
                    <li><a href="/tenda/productes">Productes</a></li>
                    <li><a href="/tenda#coleccions">Coleccions</a></li>
                    <li><a href="/tenda#promos">En promoció</a></li>
                    <li><a href="/tenda#tendes">Tendes oficials</a></li>
                    <li><a href="/tenda#newsletter">Newsletter</a></li>
                </ul>
                
                {% if session.user_login %}
                <a href="/tenda/carrito">
                    <button class="boton-login"><i class="fa-solid fa-cart-shopping"></i></button>
                </a>
                {% endif %}
            </nav>
        </div>

        {% else %}
        <div class="contenedor-nav">
            <nav class="auxiliar">
                <ul>
                    <li><a href="/tenda">ANAR A LA TENDA OFICIAL</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.facebook.com/RCDMallorcaOficial"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="https://twitter.com/rcd_mallorca"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/rcdmallorcaoficial/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.tiktok.com/@realmallorcaoficial?lang=es"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/real-mallorca/"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </nav>
            <nav class="primaria">
                <div class="contenedor-logo">
                    <a href="/"><img src="../static/img/main/logo.png" alt=""></a>
                </div>
                <ul>
                    <li><a href="/">Inici</a></li>
                    <li><a href="/#partits">Partits</a></li>
                    <li><a href="/#plantilla">Plantilla</a></li>
                    <li><a href="/#videos">RCD Mallorca TV</a></li>
                    <li><a href="/#patrocinadors">Patrocinadors</a></li>
                </ul>
                <a href="/login">
                    <button class="boton-login"><i class="fa-solid fa-user"></i></button>
                </a>
            </nav>
        </div>
        {% endif %}

        <div class="navbar-mobile">
            <div class="navbar-mobile-container">
                <img src="../../static/img/main/logo.png">
                <i class="fa-solid fa-bars" id="menu-toggle"></i>
            </div>
        </div>

        {% if pagina == 'store' %}
        <div class="navbar-menu" id="navbar-menu">
            <div class="navbar-menu-container">
                <ul>
                    <li><a href="/tenda">Inici</a></li>
                    <li><a href="/tenda/productes">Productes</a></li>
                    <li><a href="/tenda#coleccions">Coleccions</a></li>
                    <li><a href="/tenda#promos">En promoció</a></li>
                    <li><a href="/tenda#tendes">Tendes oficials</a></li>
                    <li><a href="/tenda#newsletter">Newsletter</a></li>
                    {% if not session.user_login %}
                    <ul class="links-2-mobile">
                        <li><a href="/"><i class="fa-solid fa-house"></i> Pàgina principal</a></li>
                        <li><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a></li>
                        <li><a href="/register"><i class="fa-solid fa-user-plus"></i> Registre</a></li>
                    </ul>
                    {% else %}
                    <ul class="links-2-mobile">
                        <li><a href="/"><i class="fa-solid fa-house"></i> Pàgina principal</a></li>
                        <li><a href="/tenda/carrito"><i class="fa-solid fa-cart-shopping"></i> Cistella</a></li>
                    </ul>
                    {% endif %}
                    <ul class="social-mobile">
                        <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </ul>
            </div>
        </div>
        {% else %}
        <div class="navbar-menu" id="navbar-menu">
            <div class="navbar-menu-container">
                <ul>
                    <li><a href="/">Inici</a></li>
                    <li><a href="/tenda">Tenda</a></li>
                    <li><a href="/#partits">Partits</a></li>
                    <li><a href="/#plantilla">Plantilla</a></li>
                    <li><a href="/#videos">RCD Mallorca TV</a></li>
                    <li><a href="/#patrocinadors">Patrocinadors</a></li>
                    <ul class="social-mobile">
                        <li><a href="https://www.facebook.com/RCDMallorcaOficial"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="https://twitter.com/rcd_mallorca"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/rcdmallorcaoficial/"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.tiktok.com/@realmallorcaoficial?lang=es"><i class="fa-brands fa-tiktok"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/real-mallorca/"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </ul>
            </div>
        </div>
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}

{% if pagina == 'store' %}
<footer class="footer-store">
    <div class="footer-store-wrapper">
        <ul>
            <li><i class="fa-brands fa-cc-visa"></i></li>
            <li><i class="fa-brands fa-cc-mastercard"></i></li>
            <li><i class="fa-brands fa-cc-amex"></i></li>
            <li><i class="fa-brands fa-paypal"></i></li>
            <li><i class="fa-brands fa-apple-pay"></i></li>
            <li><i class="fa-brands fa-google-pay"></i></li>
        </ul>
    </div>
</footer>
{% endif %}

<footer>
    <div class="footer-wrapper">
        <div class="footer-text">
            <p>© <script>document.write(new Date().getFullYear())</script> per <a href="https://www.github.com/Adrig3/tongoliki">Tongoliki</a>, un grup d'estudiants <a href="https://www.santjosepobrer.es">de Sant Josep Obrer</a>.</p>
            <p>Aquest projecte no està relacionat de cap forma amb l'RCD Mallorca, LaLiga i derivats.</p>
        </div>

        <div class="footer-text-mobile">
            <p>© <script>document.write(new Date().getFullYear())</script> per <a href="https://www.github.com/Adrig3/tongoliki">Tongoliki</a>, un grup d'estudiants <a href="https://www.santjosepobrer.es">de Sant Josep Obrer</a>. Aquest projecte <b>no està relacionat</b> de cap forma amb l'RCD Mallorca, LaLiga i derivats.</p>
        </div>

        <div class="footer-link">
            <a href="#">Avís legal i condicions d'ús</a>
            <a href="#">Política de cookies</a>
            <a href="#">Política de privacitat</a>
        </div>

        <img src="{{ url_for('static', filename='img/main/logo.png') }}" alt="Logo RCD Mallorca" class="logo-footer">
    </div>
</footer>

</body>
</html>