{% if pagina == 'store' %}
<div class="contenedor-nav">
    <nav class="auxiliar">
        <ul>
            <li><a href="/">TORNAR A LA PÀGINA PRINCIPAL</a></li>
        </ul>
        {% if not user_login %}
        <ul>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/registre">REGISTRE</a></li>
        </ul>
        {% endif %}
    </nav>
    <nav class="primaria">
        <div class="contenedor-logo">
            <a href="/"><img src="/static/img/main/logo.png" alt=""></a>
        </div>
        <ul>
            <li><a href="/tenda">Inici</a></li>
            <li><a href="/tenda/productes">Productes</a></li>
            <li><a href="/tenda/#coleccions">Coleccions</a></li>
            <li><a href="/tenda/#promos">En promoció</a></li>
            <li><a href="/tenda/#tendes">Tendes oficials</a></li>
            <li><a href="/tenda/#newsletter">Newsletter</a></li>
        </ul>
        
        {% if user_login %}
        <a href="/tenda/carrito">
            <button class="boton-login"><i class="fa-solid fa-cart-shopping"></i></button>
        </a>
        {% endif %}
    </nav>
</div>

{% else %}
<div class="contenedor-nav">
    <nav class="auxiliar">
        <ul>
            <li><a href="/tenda">ANAR A LA TENDA OFICIAL</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </nav>
    <nav class="primaria">
        <div class="contenedor-logo">
            <a href="/"><img src="../static/img/main/logo.png" alt=""></a>
        </div>
        <ul>
            <li><a href="/">Inici</a></li>
            <li><a href="/#partits">Partits</a></li>
            <li><a href="/#plantilla">Plantilla</a></li>
            <li><a href="/#videos">RCD Mallorca TV</a></li>
            <li><a href="/#patrocinadors">Patrocinadors</a></li>
        </ul>
        <a href="/login">
            <button class="boton-login"><i class="fa-solid fa-user"></i></button>
        </a>
    </nav>
</div>
{% endif %}